<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <title>Manage Campaigns</title>
</head>
<body>
    <h1>Manage Campaigns</h1>
  
	<nav class="nav">
		<a href="/">Home</a>
		<a href="/back">Back</a>
	</nav>
    <div class="demo">
    <form action="/view_campaigns" class="form_main" method="get">
       <div><label for="search_by">Search by:</label>
        <select id="search_by" name="search_by" required>
            <option value="">--Please select an option--</option>
            <option value="campaign_id">Campaign ID</option>
            <option value="campaign_name">Campaign Name</option>
            <option value="start_date">Start Date</option>
            <option value="end_date">End Date</option>
            <option value="all">All</option>
        </select><br><br>
    </div> 
      <div> <label for="value">Value:</label>
        <input type="text" id="value" name="value"><br><br>
    </div> 
        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>