<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
        <title>Interactions Data</title>
</head>

<body>
        <h1>Fetch Interactions</h1>
        <nav class="nav">
                <a href="/">Home</a>
                <a href="/back">Back</a>
        </nav>
        <div class="demo">
                <form action="/view_interactions" class="form_main" method="get">
                        <div><label for="search_by">Search by:</label>
                        <select id="search_by" name="search_by" required>
                                <option value="">--Please Select an Option--</option>
                                <option value="customer_id">Customer ID</option>
                                <option value="interaction_id">Interaction ID</option>
                                <option value="channel">Channel</option>
                                <option value="all">All</option>
                        </select><br><br>
                </div>
                        <div><label for="value">Value:</label>
                        <input type="text" id="value" name="value"><br><br>
                </div>
                        <input type="submit" value="Submit">
                </form>
        </div>
</body>

</html>