<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Interactions Data</title>
<style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
</style>
</head>
<body>
<h1>Interactions Data</h1>
<nav>
    <form action="/" >
    <button type="submit">Home</button>
    </form>
    <form action="/get_interaction" >
    <button type="submit">back</button>
    </form>
</nav>
<table>
<thead>
<tr>
<th>Interaction ID</th>
<th>Customer ID</th>
<th>Interaction Date</th>
<th>Channel</th>
<th>Subject</th>
<th>Response Time (minutes)</th>
</tr>
</thead>
<tbody>
            {% for interaction in interactions %}
<tr>
<td>{{ interaction.interaction_id }}</td>
<td>{{ interaction.customer_id }}</td>
<td>{{ interaction.interaction_date }}</td>
<td>{{ interaction.channel }}</td>
<td>{{ interaction.subject }}</td>
<td>{{ interaction.response_time_minutes }}</td>
</tr>
            {% endfor %}
</tbody>
</table>
</body>
</html>