<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">

</head>
<body id="full">
	<h1> CUSTOMER UPDATE</h1>
	<nav class="nav">
		<a href="/">Home</a>
		<a href="/back">Back</a>
	</nav>
	<div class="demo">
	<form id="updCust" class="left form_main" method='POST'>
		<div><label>Customer ID:</label>
		<input type="number" name="Cust_Id" required><br><br></div>
		<div><label>Update Field:</label>
        <select name="Update Field" required>
            <option value="">--Please choose an option--</option>
            <option value="email">Email</option>
            <option value="loyalty_score">Loyalty Score</option>
            <option value="customer_name">Customer Name</option>
        </select><br><br></div>
		<div><label>Update Value:</label>
		<input type="text" name="Update Value" required><br><br></div>
		<button type="submit" >Submit</button>

</form>
	</div>
</body>
<script>
    document.getElementById('updCust').addEventListener('submit', async function (event) {
    event.preventDefault();

    try {
        const formData = new FormData(this);
        const response = await fetch('/update_customers_details', {
            method: 'POST',
            body: formData,
        });

        if (response.ok) {
            const data = await response.json();
            if (data.success) {
                alert(data.message);
            } else {
                alert(data.message);
            }
        } else {
            console.error('Error:', response.status);
        }
    } catch (error) {
        console.error('Error:', error);
    }
});

</script>
</html>

